<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/default.css">
</head>
<body>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="mywebsite.html">pratimugale.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
</nav>
<center>
<img src="img/profilephoto.jpg" alt="Avatar">
</center>
<div class="container">
  <div class="index">
  <h1 align=center><b>Pratim Ugale.</b></h1>
  <p id="intro"><i>Pratim Ugale's personal website.</i></p>
  </div>
</div>

<div class="footer">
  <p><i>&copy; 2018 Pratim Ugale.</i></p>
</div>
</body>
</html>

